html {font-size: 16px;}

body{background: rgb(240, 240, 240);}

.headline{
    background: rgb(216, 27, 43);
    
}
.head-img{
    width:300px; height: auto;
    margin-top: 1rem;
    margin-left: 6rem;
}
.cards {
    margin: 1rem auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,230px);
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
}
.card{
    text-align: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 200px;
    padding-bottom: 1rem;
    box-shadow: 0.1px 0.1px 5px cadetblue;
}

.main-img{
    width:200px;
    max-height: 300px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    //text-align: center;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(36, 41, 41);
}

.rate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
.rate-img{
    width: 25px;
    height: auto;
    margin-right: 0.5rem;
}

.percent {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
    color: rgb(36, 41, 41);
}

.showing {
    font-size: 1rem;
    color: rgb(145, 145, 145);
}